<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./aboutus.css">
    </head>
    <title>Incredible India</title>
    <link rel ="icon" href="/images/icon.png">
    <body>
        <div class="header">
            <ul>
                <li>
                    <a class="button" href="../index.php">Home</a>
                </li>
                <li>
                    <a class="button"  href="./Gallery.html">Gallery</a>
                </li>
                <li>
                    <a class="button"  href="./aboutus.html">Contact us</a>
                </li>
                <li>
                    <a class="button" href="./aboutus.html">About us</a>
                </li>
                <li>
                    <a class="button"  href="../signin.php">Login</a>
                </li>
                <li>
                    <a class="button" href="../signup.php">Register</a>
                </li>
            </ul>
          </div>
          <section class="container">
              <div class="container-left">
                <div class="text">
                    <img src="../images/icon.png" alt="logo" />
                    <p>Vacation Hut is an interesting website which is different from 
                    other websites by providing pacakages with minimal cost and effective experience.
                    </br></p>
                    
        
                  </div>   
                </div>
                <div class ="container-right">
                    <img src ="../images/couple.png">
                </div>
                </section>
                </body>
                </html>