<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./contactus.css">
    </head>
    <title>Incredible India</title>
    <link rel ="icon" href="../images/icon.png">
    <body>
      <div class="header">
        <ul>
            <li>
                <a class="button" href="../index.php">Home</a>
            </li>
            <li>
                <a class="button"  href="./Gallery.html">Gallery</a>
            </li>
            <li>
                <a class="button"  href="./aboutus.html">Contact us</a>
            </li>
            <li>
                <a class="button" href="./aboutus.html">About us</a>
            </li>
            <li>
                <a class="button"  href="../signin.php">Login</a>
            </li>
            <li>
                <a class="button" href="../signup.php">Register</a>
            </li>
        </ul>
      </div>
          <div class="container">
            <div class="row">
              <div class="column">
                <img src="../images/contact.png" style="width:80%">
              </div>
              <div class="column">
                <form>
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  <label for="emailid">Email id</label>
                  <input type="text" id="emailid" name="emailid"placeholder="Enter your email..">
                  <label for="subject">Subject</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                  <input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
          </body>
          </html>