<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./gallery.css" />
  </head>
  <title>Incredible India</title>
  <link rel="icon" href="icon.png" />
  <body>
    <div class="header">
      <ul>
          <li>
              <a class="button" href="../index.php">Home</a>
          </li>
          <li>
              <a class="button"  href="./Gallery.html">Gallery</a>
          </li>
          <li>
              <a class="button"  href="./aboutus.html">Contact us</a>
          </li>
          <li>
              <a class="button" href="./aboutus.html">About us</a>
          </li>
          <li>
              <a class="button"  href="../signin.php">Login</a>
          </li>
          <li>
              <a class="button" href="../signup.php">Register</a>
          </li>
      </ul>
    </div>
    <section class="container">
      <div class="container-left">
        <div class="text">
          <img src="../images/icon.png" alt="logo" />
          <p>
            Vacation Hut is an interesting website which is different from 
                    other websites by providing pacakages with minimal cost and effective experience.
                    
          </p>
        </div>
        <div class="image">
          <img src="../images/couple.png" alt="doodle" />
        </div>
      </div>
      <div class="container-right">
        <div class="grid-container">
          <img src="../images/k1.jpg" alt="image1" />
          <img src="../images/k2.jpg" alt="image1" />
          <img src="../images/jk/jk bg.jpg" alt="image1" />
          <img src="../images/k3.jpg" alt="image1" />
          <img src="../images/8.jpg" alt="image1" />
          <img src="../images/7.jpg" alt="image1" />
          <img src="../images/tamilnadu/t3.jpg" alt="image1" />
          <img src="../images/5.jpg" alt="image1" />
          <img src="../images/tamilnadu/t2.jpg" alt="image1" />
         
          
        </div>
      </div>
    </section>
  </body>
</html>
